<div class="header">
  <span>Book Management System</span>
</div>
<div class="row container-fluid">
  <div class="menu col-md-3">
    <div class="account">
      <div class="icon">
        <i class="material-icons" style="font-size:340%">account_box</i>
      </div>
      <div class="info">
        <strong>Administrator</strong>
        <p>admin@fsoft.com.vn</p>
      </div>
    </div>

    <div class="options">
      <div class="container-" >
        <div class="list-group" >
          <a href="#" class="list-group-item">
            <i class="material-icons">home</i>
            <span>Trang chính</span>
          </a>
          <a href="#" class="list-group-item">
              <i class="material-icons">view_column</i>
            Danh mục sách
          </a>
          <a href="#" class="list-group-item">
            <i class="material-icons">format_underlined</i>
            Quản lý tác giả
          </a>
          <a href="#" class="list-group-item">
              <i class="material-icons">widgets</i>
              Quản lý nhà xuất bản
            </a>
          <a href="#" class="list-group-item">
              <i class="material-icons">view_compact</i>
              Quản lý sách
            </a>
          <a href="#" class="list-group-item">
              <i class="material-icons">lock_open</i>
              Thoát
            </a>
        </div>
      </div>
    </div>

    <!-- <i class="material-icons">home</i>
  <i class="material-icons">view_column</i>
  <i class="material-icons">format_underlined</i>
  <i class="material-icons">widgets</i>
  <i class="material-icons">view_compact</i>
  <i class="material-icons">lock_open</i> -->
  </div>


  <div class="content col-md-9">
    
  </div>
</div>
